# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# design markdown
App-LLD.md

# application.properties
app/src/main/resources/application.properties